@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera";
}

<div class="text-danger">
    @TempData["FailText"]
</div>
<div class="text-success">
    @TempData["SuccessText"]
</div>


@if ((Model.Input.CourseId == 0) || (Model.Input.CourseId == null))  //Om via navbar
{

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Lägg till användare.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Phone"></label>
                    <input asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Role"></label>

                    <select asp-for="Input.Role" class="form-control" asp-items="@Model.Input.LmsRoles"></select>

                </div>

                <div class="form-group">
                    <label asp-for="Input.CourseId">Kurs</label>

                    <select asp-for="Input.CourseId" class="form-control" asp-items="@Model.Input.Courses"></select>

                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>





                <button type="submit" class="btn btn-success">Skapa</button>

            </form>
            <div class="form-group">
                            
            <div ><a asp-controller="Home" asp-action="Index" class="badge badge-primary">Avsluta registrering</a></div>
                </div>
        </div>
    </div>
}
else //Om via kurslistan
{
    <div class="row">
        <div class="col-md-4">




            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @*Hidden CourseId sätts till värde enligt get action*@
                <input type="hidden" asp-for="Input.CourseId" value="@Model.Input.CourseId" />
                <input type="hidden" asp-for="Input.Role" value="@Model.Input.Role" />
                <h4>Lägg till elev i kurs @Model.Input.CourseName</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Phone"></label>
                    <input asp-for="Input.Phone" class="form-control" />
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>





                <button type="submit" class="btn btn-success">Skapa</button>

            </form>

            <div class="form-group">

                <div><a asp-controller="Courses" asp-action="Index"  class="badge badge-primary">Tillbaka till kurslistan</a></div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
