@model LexiconLMS.Models.LmsTask

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LmsTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyState.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LmsActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LmsActivity.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
