@model LexiconLMS.Models.LmsTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LmsTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAnswer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadyState.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LmsActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LmsActivity.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
