@model LexiconLMS.Models.Document

@{
    ViewData["Title"] = "Details";
}
<h3>Detaljer för valt dokument</h3>
@*<h1>Details</h1>*@
@*<h3>Kurs: @ViewBag.CourseName</h3>*@
<div>
    @*<h4>Document</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MimeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LmsActivity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LmsActivity.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="badge badge-success">Edit</a> |
    <a asp-action="Index" class="badge badge-primary">Tillbaka till dokumentlistanlistan</a>
</div>
