@model IEnumerable<LexiconLMS.Models.Document>
@{
    ViewData["Title"] = "LmsDocuments";
}

@*ANVÄNDS EJ!*@
<h1>LmsDocuments</h1>

@{
    ViewData["Title"] = "CourseDocuments";
}

<h1>Kurs dokument</h1>
@if (ViewBag.CourseId != 0)
{
    <h3>i kurs @ViewBag.CourseName</h3>

    <div class="text-success">
        @TempData["SuccessText"]
    </div>
    <p>
        <a asp-action="CreateCourseDocument1" asp-route-courseId="@ViewBag.CourseId" class="btn btn-outline-primary">Skapa nytt kursdokument</a>
    </p>
}
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.OwnerFileName)</th>
            <th>@Html.DisplayNameFor(model => model.Length)</th>
            <th>@Html.DisplayNameFor(model => model.Course.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                </td>
                <th>@Html.DisplayFor(modelItem => item.OwnerFileName)</th>
                <th>@Html.DisplayFor(modelItem => item.Length)</th>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                @if (User.IsInRole("Teacher"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Ändra</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="badge badge-primary">Detaljer</a>
                        <a asp-action="GetDocument" asp-route-id="@item.Id" class="badge badge-primary">Ladda ned</a>
                        @*<a asp-controller="LMSActivities" asp-action="ModulesActivities" asp-route-moduleId="@item.Id">Activities</a> | Activities controller*@
                        <a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-pill badge-danger">Radera</a>
                    </td>
                }
                @if (User.IsInRole("Student"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detaljer</a>
                        <a asp-action="GetDocument" asp-route-id="@item.Id" class="badge badge-primary">Ladda ned</a>
                        @*<a asp-controller="LMSActivities" asp-action="ModulesActivities" asp-route-moduleId="@item.Id">Activities</a> | Activities controller*@
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div>
    @*<a asp-action="CourseModules" asp-route-id="@model">Back to List</a>*@
</div>


