
@model LexiconLMS.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h3>Detaljer för kurs @Html.DisplayFor(model => model.Name)</h3>

<div>
    @*<h4>Kurs</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Teacher"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="badge badge-success">Ändra</a>
        @*<a asp-controller="Modules" asp-action="CourseModules" asp-route-courseId="@Model.Id" class="badge badge-info">Moduler</a>*@   
        <a> | </a>
        <a asp-action="Index" class="badge badge-primary">Tillbaka till kurslistan</a>
    }
</div>
