@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Kurser</h2>
<div class="text-success blink_me">
    @TempData["SuccessText"]
</div>
<p>
    <a asp-action="Create">Skapa ny kurs</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>

        @if (User.IsInRole("Teacher"))
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="badge badge-success">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="badge badge-primary">Mer info</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-danger">Radera</a> |
                        <a asp-controller="Modules" asp-action="CourseModules" asp-route-courseId="@item.Id" class="badge badge-info">Moduler</a> 
                        <a asp-area="Identity" asp-page="/Account/Register" asp-route-courseId="@item.Id" class="badge badge-secondary">Lägg till elev</a>
                        <a asp-action="StudentsPerCourse" asp-route-id="@item.Id" class="badge badge-dark">Lista Elever</a>
                        <a asp-controller="Documents" asp-action="CourseDocuments" asp-route-courseId="@item.Id" class="badge badge-light">Dokument</a> |
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
