@model LexiconLMS.Models.Course
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "StudentsPerCourse";
}

<h1>Deltagare i kurs: @Model.Name</h1>
@{var test = Model.ApplicationUser.FirstOrDefault();}
@if (test != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelitem => test.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.Email)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var student in Model.ApplicationUser.Where(m => m.CourseId == Model.Id).OrderBy(s => s.Name))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelitem => student.Name)

                </td>
                <td>
                    @Html.DisplayFor(modelitem => student.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelitem => student.PhoneNumber)
                </td>
            </tr>
        }


    </tbody>
</table class="table">
}
else
{ <h1>Inga elever på denna kurs</h1>}
