@model LexiconLMS.Models.StudentViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Elever på din kurs";
}
<h2>Elever på kurs @Model.StudentCourse.Name som går på samma kurs som dig, @Model.Student.Name </h2>

@{var test = Model.StudentCourse.ApplicationUser.First();}







<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(modelitem => test.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.Email)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.StudentCourse.ApplicationUser.OrderBy(s => s.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => student.PhoneNumber)
                </td>
            </tr>
        }
    </tbody>
</table>


@{var modulex = Model.StudentCourse.Modules.First();}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(modelitem => modulex.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => modulex.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => modulex.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => modulex.Description)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var module in Model.StudentCourse.Modules.OrderBy(s => s.StartDate))
            {

                <td>
                    @Html.DisplayFor(modelitem => module.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => module.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelitem => module.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => module.Description)
                </td>

            <td>
                <button class="btn" data-target="#@($"Module{module.Id}")" data-toggle="collapse" type="button">Click to expand</button>
            </td>

            @foreach (var LmsActivity in module.LmsActivities)
            {
                @*<div class="collapse" id="collapseme">
                    <div class="content">*@

                        <tr class="collapse" id=@($"Module{module.Id}")>
                            <td>
                                @Html.DisplayFor(modelitem => LmsActivity.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => LmsActivity.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => LmsActivity.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => LmsActivity.Description)
                            </td>
                        </tr>
                        }



                        @*<a asp-controller="Modules" asp-action="details" asp-route-id="@module.Id" class="badge badge-primary">Detaljer</a>
                            <a asp-controller="LmsActivities" asp-action="ModuleActivities" asp-route-moduleId="@module.Id" class="badge badge-info">Aktiviteter</a>
                            <a asp-controller="Documents" asp-action="ModuleDocuments" asp-route-moduleId="@module.Id" class="badge badge-warning">Dokument</a>*@


                    @*</div>
                </div>*@



            }
        }
        </tr>
    </tbody>
</table>



<div>
    <a asp-controller="Courses" asp-action="StudentModules" class="badge badge-primary">Tillbaka till kursmoduler</a>
</div>
