@model LexiconLMS.Models.StudentModulesViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "StudentModules";
}

<h3>Kursmoduler</h3>

@{
    ViewData["Title"] = "Moduler på din kurs";
}
<h3>Moduler på kurs @Model.StudentCourse.Name för dig, @Model.Student.Name </h3>


@{var test = Model.StudentCourse.Modules.First();}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(modelitem => test.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => test.Description)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in Model.StudentCourse.Modules.OrderBy(s => s.StartDate))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => module.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => module.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelitem => module.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => module.Description)
                </td>
                <td>
                    <a asp-controller="Modules" asp-action="details" asp-route-id="@module.Id" class="badge badge-primary">Detaljer</a>
                    <a asp-controller="LmsActivities" asp-action="ModuleActivities" asp-route-moduleId="@module.Id" class="badge badge-info">Aktiviteter</a>
                    <a asp-controller="Documents" asp-action="ModuleDocuments" asp-route-moduleId="@module.Id" class="badge badge-warning">Dokument</a>
                </td>
            </tr>
        }
    </tbody>
</table>
