
@{
    ViewData["Title"] = "CreateCourseStudent";
}

<h1>CreateCourseStudent</h1>


@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    ViewData["Title"] = "LmsUsers";
}

<h1>LmsUsers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>


        </tr>
    </thead>
    <tbody>

        @if (User.IsInRole("Teacher"))
        {
           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @if (await UserManager.IsInRoleAsync(item, "Teacher"))
                        {<p>Teacher</p>}
                        @if (await UserManager.IsInRoleAsync(item, "Student"))
                        {<p>Student</p>}

                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    @*<td>
                            @foreach (var student in item.Course.Where(m => m. == item.Id))
                            {
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">@student.Name</h4>
                                        <p class="card-text">@student.Email</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            }
                        </td>*@
                </tr>
            }
        }

        @if (User.IsInRole("Student"))
        {
            @foreach (var item in Model)
            {
                <tr>
                    @if (await UserManager.IsInRoleAsync(item, "Student"))
                    {
                        <td>

                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course)
                        </td>
                        <td>
                            @if (await UserManager.IsInRoleAsync(item, "Teacher"))
                            {<p>Teacher</p>}
                            @if (await UserManager.IsInRoleAsync(item, "Student"))
                            {<p>Student</p>}

                        </td>


                        <td>

                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                        </td>
                    }

                    
                </tr>
            }
        }
    </tbody>
</table>
