@model IEnumerable<LexiconLMS.Models.ActivityType>

@{
    ViewData["Title"] = "Index";
}

<h3>Aktivitetstyper</h3>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Skapa ny aktivitetstyp</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="badge badge-success">Ändra</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="badge badge-primary">Detaljer</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="badge badge-danger">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
